body{
    margin: 0;
    padding: 0;
    background-color: rgb(153, 246, 203);
    

}
main{
margin: auto;
padding: 0;


    
}
header{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}